<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IPushComm" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" maxConnections="30" maxBufferSize="20480000" maxReceivedMessageSize="20480000">
          <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="1000000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IDataPooling" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" maxConnections="30" maxBufferSize="20480000" maxReceivedMessageSize="20480000">
          <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="1000000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="maxObjectGrafh">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:1001/Wcf_Service/WCFCommService/tpush" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPushComm" contract="Rosslare.Musketeer.Shared.ACCSInterface.IPushComm" name="NetTcpBinding_IPushComm" />
      <endpoint address="net.tcp://localhost:1001/Wcf_Service/WCFCommService/tpool" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataPooling" contract="Rosslare.Musketeer.Shared.ACCSInterface.IDataPooling" name="NetTcpBinding_IDataPooling" behaviorConfiguration="maxObjectGrafh" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="ElipHost" value="192.168.13.1" />
    <add key="ElipPort" value="60173" />
    <add key="ElipHealthCheckPeriod" value="30" />
    <add key="ElipConnectionRetryTimeout" value="5" />
    <add key="ElipIdleTimeMsec" value="100" />
    <add key="ElipReadBufferSize" value="4096" />
  </appSettings>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
