<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="readersMapping" type="DestinationElevatorAcs.ReadersMapping, DestinationElevatorAcs" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IPushComm" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" maxConnections="30" maxBufferSize="20480000" maxReceivedMessageSize="20480000">
          <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="1000000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IDataPooling" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" maxConnections="30" maxBufferSize="20480000" maxReceivedMessageSize="20480000">
          <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="1000000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="maxObjectGrafh">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:1001/Wcf_Service/WCFCommService/tpush" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPushComm" contract="Rosslare.Musketeer.Shared.ACCSInterface.IPushComm" name="NetTcpBinding_IPushComm" />
      <endpoint address="net.tcp://localhost:1001/Wcf_Service/WCFCommService/tpool" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataPooling" contract="Rosslare.Musketeer.Shared.ACCSInterface.IDataPooling" name="NetTcpBinding_IDataPooling" behaviorConfiguration="maxObjectGrafh" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="ElipHost" value="192.168.13.1" />
    <add key="ElipPort" value="60173" />
    <add key="ElipHealthCheckPeriod" value="30" />
    <add key="ElipConnectionRetryTimeout" value="5" />
    <add key="ElipIdleTimeMsec" value="100" />
    <add key="ElipReadBufferSize" value="4096" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <readersMapping>
    <add readerId="0" panelId="10" />
    <add readerId="1" panelId="11" />
    <add readerId="2" panelId="12" />
    <add readerId="3" panelId="13" />
    <add readerId="4" panelId="14" />
    <add readerId="5" panelId="15" />
    <add readerId="6" panelId="16" />
    <add readerId="7" panelId="17" />
    <add readerId="8" panelId="18" />
    <add readerId="9" panelId="19" />
  </readersMapping>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>